<?xml version="1.0" encoding="utf-8"?>
<!--
  ~
  ~ Copyright (c) Microsoft Corporation. All rights reserved.
  ~ Licensed under the MIT License.
  ~
  -->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.microsoft.device.samples.dualscreenexperience">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".DualScreenApplication"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="false"
        android:theme="@style/Theme.App.DayNight">

        <activity android:name=".presentation.launch.LaunchActivity"
            android:windowSoftInputMode="stateAlwaysHidden"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".presentation.MainActivity"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".presentation.devmode.DevModeActivity"
            android:theme="@style/Theme.App.Transparent"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".presentation.about.AboutActivity"
            android:theme="@style/Theme.App.Transparent"
            android:windowSoftInputMode="stateAlwaysHidden" />

        <activity
            android:name="com.google.android.gms.oss.licenses.OssLicensesMenuActivity"
            android:theme="@style/Theme.App.ActionBar.DayNight"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name="com.google.android.gms.oss.licenses.OssLicensesActivity"
            android:theme="@style/Theme.App.ActionBar.DayNight"
            android:windowSoftInputMode="stateAlwaysHidden" />
    </application>

</manifest>